<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Please contact on below mail for any help.</p>
            <p>mail: <a href="mailto:mrunali.jari207@gmail.com">mrunali.jari207@gmail.com</a></p>
        </div>
            {{>footer}}
    </body>
</html>