<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Find weather information here</p>
            <form>
                <input />
                <button>Search</button>
                <p id="message-one"></p>
                <p id="message-two"></p>
            </form>
        </div>
        {{>footer}}

        <script src="/js/weather.js"></script>
    </body>
</html>